@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Orbitron', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: black;
  color: white;
}

/* <Calculator /> */
#calculator {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* display div */
/* #display {
  visibility: hidden;
  max-width: 100%;
  width: 350px;
  height: 200px;
  background-color: black;
  display: flex;
  align-items: center;
  direction: rtl;
} */

/* display p */
/* #output {
  direction: ltr;
  font-family: inherit;
  color: white;
  font-size: 3rem;
  line-height: 2rem;
  white-space: nowrap;
} */

/* <Buttons /> */
#grid {
  width: 98%;
  height: auto;
  max-width: 550px;
  min-width: 250px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 3px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
  grid-template-areas:
    ' clear   clear   divide   mult'
    ' seven   eight    nine    min'
    ' four    five     six     plus'
    '  one     two    three    eq'
    ' zero    zero     dec     eq';
}

/* button div */
.btn {
  width: 100%;
  min-width: 0;
  height: auto;
}

/* button svg element */
.svg-button {
}

/* button svg border path */
.svg-border {
}

/* button svg inner text path */
.svg-label {
}

#clear {
  grid-area: clear;
}

#divide {
  grid-area: divide;
}
#mult {
  grid-area: mult;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#nine {
  grid-area: nine;
}
#min {
  grid-area: min;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#plus {
  grid-area: plus;
}
#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#zero {
  grid-area: zero;
}
#dec {
  grid-area: dec;
}
#eq {
  grid-area: eq;
}
