@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px dotted magenta; */
}

:root {
  font-family: 'Orbitron', sans-serif;
  font-weight: 200;
  font-size: 16px;
  --primary: #ff5e5e;
  --primary-transparent: rgba(255, 94, 94, 0.1);
  --secondary: #4a2525;
  --secondary-transparent: rgba(74, 37, 37, 0.1);
}
/* @media (orientation: portrait) and (min-width: 320px) {
  :root {
    font-size: 12px;
  }
}
@media (orientation: portrait) and (min-width: 360px) {
  :root {
    font-size: 14px;
  }
}
@media (orientation: portrait) and (min-width: 400px) {
  :root {
    font-size: 16px;
  }
}
@media (orientation: portrait) and (min-width: 769px) {
  :root {
    font-size: 18px;
  }
}

@media (orientation: landscape) and (min-width: 640px) {
  :root {
    font-size: 12px;
  }
}
@media (orientation: landscape) and (min-width: 731px) {
  :root {
    font-size: 14px;
  }
}
@media (orientation: landscape) and (min-width: 1024px) {
  :root {
    font-size: 16px;
  }
}
@media (orientation: landscape) and (min-width: 1366px) {
  :root {
    font-size: 22px;
  }
} */

html {
  width: 100%;
  height: 100%;
  /* padding: env(safe-area-inset); */
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: black;
  color: white;
}

#calculator {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  height: 100%;
  /* border: 1px solid red; */
}
@media (orientation: landscape) and (max-height: 540px) {
  #calculator {
    max-width: 100%;
  }
}

#display {
  position: absolute;
  height: 35%;
  width: 100%;
  max-width: 600px;
  bottom: 65%;
  /* border: 1px solid blue; */
}
@media (orientation: landscape) and (max-height: 540px) {
  #display {
    width: 50%;
    max-width: 50%;
    height: 100%;
    bottom: 0;
    right: 50%;
  }
}

#output-div,
#operation-div {
  padding: 0.5rem;
  width: 100%;
}

#output-div {
  position: fixed;
  bottom: 83%;
  right: 50%;
  transform: translate(50%, 50%);
  /* background-color: rgba(255, 0, 255, 0.1); */
}
@media (orientation: landscape) and (max-height: 540px) {
  #output-div {
    width: 50%;
    bottom: 50%;
    right: 50%;
    transform: translate(0, 50%);
  }
}

#output-p {
  min-height: 4rem;
  line-height: 4rem;
  font-size: 6rem;
  text-align: center;

  /* border: 1px solid red; */
}

#operation-div {
  max-height: 100%;
  overflow: hidden;
  /* background-color: rgba(0, 0, 255, 0.1); */
}

#operation-p {
  font-size: 1.5rem;
  color: var(--secondary);
}

#buttons {
  position: absolute;
  top: 35%;
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 65%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 3px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ' clear   clear   divide   mult'
    ' seven   eight    nine    min'
    ' four    five     six     plus'
    '  one     two    three    eq'
    ' zero    zero     dec     eq';
  /* border: 1px solid gold; */
}

@media (orientation: landscape) and (max-height: 540px) {
  #buttons {
    max-height: 100%;
    max-width: 50%;
    top: 0;
    left: 50%;
  }
}

.btn {
  height: 100%;
  width: 100%;
  min-height: 0;
  min-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  font-size: 2rem;
  color: var(--primary);
  background-color: rgba(255, 255, 255, 0.05);
}

.btnhover {
  border: 1px solid var(--primary);
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.05),
    var(--primary-transparent)
  );
  background-size: 200% 200%;
  background-position: 50% 50%;
}

.btnpress {
  animation: press 100ms linear;
}
@keyframes press {
  from {
    background-color: rgba(255, 255, 255, 0.5);
  }
  to {
    background-color: rgba(255, 255, 255, 0.05);
  }
}

#clear {
  grid-area: clear;
}

#divide {
  grid-area: divide;
}
#mult {
  grid-area: mult;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#nine {
  grid-area: nine;
}
#min {
  grid-area: min;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#plus {
  grid-area: plus;
}
#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#zero {
  grid-area: zero;
}
#dec {
  grid-area: dec;
}
#eq {
  grid-area: eq;
}
